@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* *{
    box-sizing: border-box;
    margin:0;
    padding: 0;
} */
/* body, html{
    font-family: 'Roboto', sans-serif;
    background: #333333;
    color: #ffffff;
    line-height: 1.6;
    height: 100vh;
    margin: 0;
} */

body, html {
    height: 100%;
    margin: 0;
  }

.slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255,255,255,0.8);
    color: #333333;
    padding: 35px;
}

.slide .content h1{
    margin-bottom: 10px;
}

.slide.current .content{
    opacity: 0.8;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next{
    position: absolute;
    top: 50%;
    right:15px;
}

.buttons button#prev{
    position: absolute;
    top: 50%;
    left:15px;
}

.buttons button{
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color: #ffffff;
    color: #333333;
}

@media (max-width: 500px) {
    .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;
    }
  
    .slide.current .content {
      transform: translateY(-300px);
    }
}

/* Background Images */
.slide:first-child{
    background: url('./images/image1.jpeg') no-repeat center center/cover;
}

.slide:nth-child(2){
    background: url('./images/image2.jpg') no-repeat center center/cover;
}

.slide:nth-child(3){
    background: url('./images/image3.jpg') no-repeat center center/cover;
}
.slide:nth-child(4){
    background: url('./images/image4.jpeg') no-repeat center center/cover;
}
.slide:nth-child(5){
    background: url('./images/image5.jpeg') no-repeat center center/cover;
}
.slide:nth-child(6){
    /* background: url('./images/image6.jpg') no-repeat center center/cover; */
    background-image: url("./images/image6.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide:nth-child(7){
    background: url('./images/image7.jpg') no-repeat center center/cover;
}
.slide:nth-child(8){
    background: url('./images/image8.jpg') no-repeat center center/cover;
}
.slide:nth-child(9){
    background: url('./images/image9.jpg') no-repeat center center/cover;
}
.slide:nth-child(10){
    background: url('./images/image10.jpg') no-repeat center center/cover;
}
.slide:nth-child(11){
    background: url('./images/image11.jpg') no-repeat center center/cover;
}
.slide:nth-child(12){
    background: url('./images/image12.jpg') no-repeat center center/cover;
}
.slide:nth-child(13){
    background: url('./images/image13.jpg') no-repeat center center/cover;
}
.slide:nth-child(14){
    background: url('./images/image14.jpg') no-repeat center center/cover;
}
.slide:nth-child(15){
    background: url('./images/image15.jpg') no-repeat center center/cover;
}
.slide:nth-child(16){
    background: url('./images/image16.jpg') no-repeat center center/cover;
}
.slide:nth-child(17){
    background: url('./images/image17.jpg') no-repeat center center/cover;
}
.slide:nth-child(18){
    background: url('./images/image18.jpg') no-repeat center center/cover;
}
.slide:nth-child(19){
    background: url('./images/image19.jpg') no-repeat center center/cover;
}
.slide:nth-child(20){
    background: url('./images/image20.jpg') no-repeat center center/cover;
}
.slide:nth-child(21){
    background: url('./images/image21.jpg') no-repeat center center/cover;
}
.slide:nth-child(22){
    background: url('./images/image22.jpg') no-repeat center center/cover;
}
.slide:nth-child(23){
    background: url('./images/image23.jpg') no-repeat center center/cover;
}
.slide:nth-child(24){
    background: url('./images/image24.jpg') no-repeat center center/cover;
}